body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
}

#gameCanvas {
    width: 800px; /* Atur lebar kanvas */
    height: calc(800px * (9 / 16)); /* Hitung tinggi untuk menjaga rasio aspek 16:9 */
    border: 1px solid black; 
    image-rendering: pixelated; /* Gunakan rendering pixelated untuk tepi yang lebih tajam */
}
